body{
    width: 70%;
    margin: 0 auto;
    font-family: Arial;
}

a{
    text-decoration: none;
}
.navbar-left{
    float: left;
    width: 350px;
}
.navbar-right{
    float: right;
    width: 350px;
}
.navbar {
    padding: 3%;
}
.navbar-left a, .navbar-right a{
    margin: 2% 8%;
    text-decoration: none;
    color: black;
}
.navbar-left a:hover, .navbar-right a:hover{
    color: orange;
}
.page-locator{
    background-color: #f2f2f2;
    padding: 1%;
}
.page-locator a{
    font-size: 12px;
    color: black;
}
.restaurant-about{
    padding: 5%;
    background-color: #262626;
    color: white;
    height: 200px;
}
.restaurant-image img{
    width: 80%;
}
.restaurant-image{
    float: left;
    width: 30%;
    /* height: 100px; */
}
.restaurant-details{
    float: left;
    width: 45%;
    /* height: 100px; */
}
.restaurant-offer{
    float: right;
    width: 25%;
    /* height: 100px; */
    /* padding: 0% 4%; */
}
.restaurant-type{
    padding: 2% 0;
    color: #d9d9d9;
}
.restaurant-type div{
    padding: 1% 0;
}
.restaurant-name h2{
    margin: 0;
}
.restaurant-ratings{
    float: left;
    width: 25%;
    border-right: 1px solid white;
}
.restaurant-time{
    float: left;
    width: 25%;
    padding-left: 5%;
    border-right: 1px solid white;
}
.restaurant-cost{
    float: right;
    width: 40%;
    padding-left: 0%;
}
.rating-count, .time-about, .details-cost-about{
    color: #d9d9d9;
    padding-top: 2%;
    font-size: 14px;
}
.offer-1, .offer-2{
    color: white;
}
table{
    padding: 2%;
}
.offer-header{
    font-size: 120%;
}